.footer-link {
  color: #999;
  text-decoration: none;
  background-color: transparent;
  background: none !important;
  padding: 0 !important;
  border: none;
}

button.link:hover {
  text-decoration: underline !important;
}
.advantagesA {
  color: #4fbfa8;
  text-decoration: none;
}

.carousel-item {
  max-height: 500px;
}

.pointer {
  cursor: pointer;
}

.container {
  max-width: 1400px;
}

.ribbon {
  letter-spacing: 0.1em;
  font-size: 9pt;
}

.titleBox {
  padding: 20px;
  margin-bottom: 30px;
}

.titleBox h1 {
  margin-bottom: 0;
}

.fa-icon {
  margin: 0 5px;
}
