.navMenuBtn {
  color: #4fbfa8;
  cursor: pointer;
}

.navMenuBtn:hover {
  color: #348e7b;
}

.navMenuBtn i.fa {
  margin: 0 5px;
}

.footer-link {
  color: #999;
  text-decoration: none;
  background-color: transparent;
  background: none !important;
  padding: 0 !important;
  border: none;
}

.btn-social {
  border-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}

.btn-google {
  background-color: #dd4b39;
}

.btn-google:hover {
  color: #fff;
  background-color: #c23321;
}
.btn-google:active {
  background-color: #a32b1c;
}

.btn-facebook {
  background-color: #3b5998;
  margin-left: 0px !important;
}

.btn-facebook:hover {
  color: #fff;
  background-color: #2d4373;
}
.btn-facebook:active {
  background-color: #23345a;
}

.link {
  color: #eee;
  text-decoration: none;
  background-color: transparent;
  background: none !important;
  padding: 0 !important;
  border: none;
}

button.link:hover {
  text-decoration: underline !important;
}

button.footer-link:hover {
  text-decoration: underline !important;
}
.advantagesA {
  color: #4fbfa8;
  text-decoration: none;
}

.carousel-item {
  max-height: 500px;
}

.pointer {
  cursor: pointer;
}

.container {
  max-width: 1400px;
}

.ribbon {
  letter-spacing: 0.1em;
  font-size: 9pt;
}

.titleBox {
  padding: 20px;
  margin-bottom: 30px;
}

.titleBox h1 {
  margin-bottom: 0;
}

.fa-icon {
  margin: 0 5px;
}
