.link {
  color: #eee;
  text-decoration: none;
  background-color: transparent;
  background: none !important;
  padding: 0 !important;
  border: none;
}

button.link:hover {
  text-decoration: underline !important;
}
.advantagesA {
  color: #4fbfa8;
  text-decoration: none;
}

.carousel-item {
  max-height: 500px;
}

.pointer {
  cursor: pointer;
}
